@import "/src/app/variable.scss";

.body_main_nav {
  background-color: $black;
  padding: 5px 0 5px 0;

  > div {
    font-size: $font_size;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1200px) {
      max-width: 1000px;
    }
  }
}

@media screen and (max-width: 924px) {
  .body_main_nav {
    padding: 20px;
    > div {
      > div {
        display: none;
      }
    }
  }
}

// Media query for mobile view
@media screen and (max-width: 768px) {
  .body_main_nav {
    padding: 20px;
    > div {
      > div {
        display: none;
      }
    }
  }
}

.poi {
  cursor: pointer;
}
