$white: rgba(255, 255, 255, 0.8);
$black: #141416;
$gray: #a1a1a6;
$lightBlue: #2997ff;

$font_size: 12px;
$font_size_h3: 21px;
$font_size_h4: 40px;
$font_size_h2: 60px;
$font_size_h1: 70px;
$font_size_p: 17px;
